@import "@codedrops/react-ui/dist/styles/colors.scss";

.active-domain {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 210px;
}

.home-icon:hover svg {
  fill: $yellow;
}

.tick-icon:hover svg {
  fill: $orchid;
}

.edit-icon:hover svg {
  fill: $green;
}

.delete-icon:hover svg {
  fill: $watermelon;
}

.controls {
  display: flex;
  height: 30px;
  align-items: stretch;
  justify-content: center;

  .inputbox {
    flex: 1 1 auto;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid $chrome;
    resize: none;
    font-family: Cascadia-Regular;
    &:focus {
      border: 1px solid $primary;
    }
  }
}

.action-buttons {
  display: inline-flex;
  align-items: center;
  opacity: 0;
  visibility: none;
  padding: 0 2px;
  transition: all 0.4s;
  background: $strokeOne;
  border: 1px solid $strokeTwo;
  border-radius: 2px;
  height: 26px;
  width: max-content;
  justify-content: space-evenly;
}

.item:hover .action-buttons {
  opacity: 1;
  visibility: visible;
}

.exact-match-container {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid $bar;
  span.exact-match {
    font-size: 10px;
    border-radius: 2px;
    padding: 2px;
    background: $bar;
    margin-bottom: 8px;
    color: white;
    display: inline-block;
  }
}
