@import "../../theme.scss";

.home-icon {
  margin-right: 6px;
}

.controls {
  display: flex;
  height: 30px;
  align-items: stretch;
  justify-content: center;

  .inputbox {
    flex: 1 1 auto;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid $chrome;
    resize: none;
    font-family: Roboto-Light;
    &:focus {
      border: 1px solid $blue;
    }
  }
}
