@import "@codedrops/react-ui/dist/styles/custom-styles.scss";
@import "@codedrops/react-ui/dist/styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.header {
  font-size: 1.2rem;
  font-family: Cascadia-Bold;
  padding: 4px 8px;
  background: $primary;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
  border-radius: 2px;
  text-transform: uppercase;
}

.list-container {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 8px 0;
}

.item {
  font-family: Cascadia-Regular;
  word-break: break-all;
  background: $featherDark;
  display: flex;
  font-size: 12px;
  border: 1px solid transparent;
  position: relative;
  border-radius: 2px;
  margin-bottom: 8px;
  transition: all 0.3s;
  opacity: 0;
  animation: animate 0.4s forwards;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    border-color: $coffee;
  }
  &.highlight {
    border-color: $orchid;
  }
  &.done .content {
    color: $steel;
    span {
      text-decoration: line-through;
    }
  }
}

@keyframes animate {
  to {
    opacity: 1;
  }
}

.empty-message {
  text-align: center;
  opacity: 0.4;
  font-size: 2.4rem;
  font-family: Cascadia-Bold;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 12px;
}

.content {
  flex: 1;
  padding: 8px;
}

.actions {
  position: absolute;
  right: 2px;
  transform: translateY(-50%);
  top: 15px;
  display: flex;
  align-items: center;
}

.icon {
  transition: 0.3s;
}

.btn {
  font-family: Cascadia-Regular;
  margin-left: 4px;
  border-radius: 2px !important;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $steel;
  opacity: 0.3;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $steel;
  opacity: 0.1;
}
