@import "@codedrops/react-ui/dist/styles/custom-styles.scss";
@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "../color.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.header {
  font-size: 1.2rem;
  font-family: Poppins-Bold;
  padding: 4px 8px;
  background: $primary;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
  border-radius: 2px;
  text-transform: uppercase;
}

.list-container {
  flex: 1 1 auto;
  overflow-y: scroll;
  margin: 8px 0;
  padding-right: 4px;
}

.item {
  font-family: Poppins-Regular;
  word-break: break-all;
  background: $featherDark;
  display: flex;
  font-size: 12px;
  border: 1px solid $featherDark;
  position: relative;
  border-radius: 2px;
  margin-bottom: 8px;
  transition: all 0.3s;
  opacity: 0;
  animation: animate 0.4s forwards;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    border-color: $pink;
  }
  &.highlight {
    border-color: $primary;
  }
  &.done .content {
    color: $steel;
    span {
      text-decoration: line-through;
    }
  }
}

.exact-match-container .item {
  background: $bg;
}

@keyframes animate {
  to {
    opacity: 1;
  }
}

.empty-message {
  text-align: center;
  opacity: 0.4;
  font-size: 2.4rem;
  font-family: Poppins-Bold;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 12px;
}

.content-wrapper {
  flex: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  .date {
    padding-top: 2px;
    font-size: 10px;
    color: $steel;
    font-style: italic;
  }
}

.actions {
  position: absolute;
  right: 2px;
  transform: translateY(-50%);
  top: 15px;
  display: flex;
  align-items: center;
}

.icon {
  transition: 0.3s;
}

.btn {
  font-family: Poppins-Regular;
  margin-left: 4px;
  border-radius: 2px !important;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $strokeOne;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($strokeTwo, 0.6);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $strokeTwo;
}
