.container {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 8px;
  margin: 0;
  background: #eee;
}

.header {
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  background: orange;
}

.noteList {
  flex: 1 1 auto;
  overflow-y: auto;
  margin-bottom: 8px;
}

.item {
  padding: 4px 8px;
  background: white;
  border-radius: 5px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}

.item.highlight {
  border: 1px solid grey;
  background: lightgrey;
}

.note {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: max-height;
  background: grey;
  margin: 0 1px;
  border-radius: 50%;
  transition: 0.3s;
}

.icon:hover {
  background: rgb(75, 75, 75);
}

svg {
  padding: 4px;
  height: 1.2rem;
  width: 1.2rem;
  fill: white;
}

.controls {
  display: flex;
  height: 30px;
  align-items: stretch;
  justify-content: center;
}

.inputbox {
  flex: 1 1 auto;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 4px;
  background: white;
  padding: 4px 8px;
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background: #eee;
}
