.confirm-box-container {
  background: whitesmoke;
  padding: 4px 6px;
  position: absolute;
  top: -4px;
  right: 0px;
  display: flex;
  border-radius: 4px;
  width: max-content;
  font-size: 1rem;
  align-items: center;
  font-family: inherit;
  .confirm-box-title {
    margin-right: 4px;
  }
}
