@font-face {
  src: url("./src/assets/fonts/CascadiaCode/CascadiaMono-Regular.otf");
  font-family: Cascadia-Regular;
}

@font-face {
  src: url("./src/assets/fonts/CascadiaCode/CascadiaMono-Bold.otf");
  font-family: Cascadia-Bold;
}

@font-face {
  src: url("./src/assets/fonts/CascadiaCode/CascadiaMono-SemiBold.otf");
  font-family: Cascadia-SemiBold;
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: Cascadia-Regular;
}

html,
body,
#root {
  font-size: 10px;
}

body,
#root {
  height: 450px;
  width: 325px;
}
