@font-face {
  src: url("../assets/fonts/RobotoCondensed-Regular.ttf");
  font-family: font1;
}

* {
  box-sizing: border-box;
  outline: none;
}

body,
#root {
  font-family: font1;
  border-radius: 20px;
  height: 450px;
  width: 325px;
  font-size: 10px;
}

.flex {
  display: flex;
  align-items: center;
}
