@font-face {
  src: url("./src/assets/fonts/Poppins/Poppins-Regular.ttf");
  font-family: Poppins-Regular;
}

@font-face {
  src: url("./src/assets/fonts/Poppins/Poppins-Bold.ttf");
  font-family: Poppins-Bold;
}

@font-face {
  src: url("./src/assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-family: Poppins-SemiBold;
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: Poppins-Regular;
}

html,
body,
#root {
  font-size: 10px;
}

body,
#root {
  height: 450px;
  width: 325px;
}
