@import "@codedrops/react-ui/dist/styles/colors.scss";

.count {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: $white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $yellow;
}
