@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "../../../color.scss";

.count {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  color: $white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $pink;
  width: 36px;
}

.pointer {
  cursor: pointer;
}

.content.domain-name {
  max-width: 80%;
  font-family: Poppins-Bold;
}

.active-domain {
  background: $bg;
  border-color: $pink;
}

.header {
  .menu {
    .menu-item {
      cursor: pointer;
      &:hover {
        color: $orange;
      }
    }
  }
}
