@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "../../../color.scss";

.count {
  border-radius: 2px;
  height: 24px;
  color: $white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $pink;
  padding: 0 14px;
  margin-right: 2px;
}

.pointer {
  cursor: pointer;
}

.content.domain-name {
  max-width: 80%;
  font-family: Poppins-Bold;
}

.active-domain {
  background: $bg;
  border-color: $pink;
}

.header {
  .menu {
    .menu-item {
      cursor: pointer;
      &:hover {
        color: $pink;
      }
    }
  }
}
